.CVbody {
    display: grid;
    padding: 0;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 5px;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.body{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.CVbody article {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid black;
}

.left-topgrid {
    grid-column-start:1;
    grid-column-end: 1;
}

.right-topgrid {
    grid-column-start:2;
    grid-column-end: 2;
   
}
.right-topgrid div {
    border: none;
    padding-top: 0;
    padding-left: 0;
}

.left-bottomgrid {
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.left-bottomgrid div {
    border: none;
}

.right-bottomgrid dd {
    margin-top: 5px;
    margin-bottom: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    
}

